body{
    background: linear-gradient(360deg, #fcb503 20%, #3d009e 50%);
    height: 1000px;
	}
	

  .searchBox {
    position: absolute;
    top: 10%;
    left: 75%;
    transform:  translate(-50%,50%);
    background: #fff;
    height: 40px;
    border-radius: 40px;


}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #fcb503;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#fcb503;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}body{
		background: linear-gradient(360deg,  #fff 60%, #fc9d03 50%);
	}
	.portfolio{
		padding:6%;
    text-align:center;
    width: 700px;
	}
	.heading{
		background: #fff;
		padding: 1%;
		text-align: left;
		box-shadow: 0px 0px 4px 0px #545b62;
	}
	.heading img{
		width: 10%;
	}
	.bio-info{
		padding: 5%;
		background:#fff;
    box-shadow: 0px 5px 10px 0px #b0b3b7;
    border-radius: 2%;
    margin-top: 220px;
	}
	.name{
		font-family: 'Charmonman', cursive;
		font-weight:20;
	}
	.bio-image{
		text-align:center;
	}
	.bio-image img{
    border-radius:50%;
    width: 120px;
    height: 120px;
	}
	.bio-content{
		text-align:left;
	}
	.bio-content h4{
		font-weight:bold;
		font-size:20px;
	}